<article id="post-8" class="post-8 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="et-l et-l--post">
            <div class="et_builder_inner_content et_pb_gutters3">
               
                <%-include('child/slider')-%>
                <%-include('child/what-we-do')-%>
                <%-include('child/services')-%>
                <%-include('child/how-can-we-help')-%>
                <%-include('child/our-portfolio')-%>                

                <%-include('child/pricing')-%>
                <%-include('child/how-it-works')-%>
        
            </div><!-- .et_builder_inner_content -->
        </div><!-- .et-l -->
    </div> <!-- .entry-content -->


</article> <!-- .et_pb_post -->