<article id="post-8" class="post-8 page type-page status-publish hentry">
    <div class="entry-content">
      <div class="et-l et-l--post">
        <div class="et_builder_inner_content et_pb_gutters3">
            <%-include('../layouts/components/slider')%>
            <%-include('../layouts/components/what-we-do')%>
            <%-include('../layouts/components/functions')%>
            <%-include('../layouts/components/how-can-we-help')%>
            <%-include('../layouts/components/services')%>
            <%-include('../layouts/components/pricing')%>
            <%-include('../layouts/components/how-it-works')%>
            <%-include('../layouts/components/contact-and-about')%>
        </div>
      </div>
    </div>
</article>